
<div class="container">
  <div class="thumbnail">
    <img src="assets/icono.png" alt="Thumbnail">
  </div>
  <div class="form">
    <div class="info">
      <h2 style="font-size: 32px;">Bienvenido a conversando en el aula</h2>
    </div>
    <div class="login-form">
      <input type="text" [(ngModel)]="correo" placeholder="Ingrese su correo">
      <input type="password" [(ngModel)]="contrasenia" placeholder="Ingrese su contraseña">
      <div class="iconos" style="display: flex;justify-content: space-around;margin-top: 15px;">
  
        <button (click)="accederAplicacion('admin')">ADMIN</button>
        <button (click)="accederAplicacion('usuario')">USUARIO</button>
        <button (click)="accederAplicacion('invitado')">INVITADO</button>
      </div>
      <button class="button" (click)="verificarUsuario()">INICIAR</button>
    </div>
  </div>
</div>
